{% extends "zahradeen/base.html" %}
{%load static%}
{% block content %}
   <!-- ======= Intro Section ======= -->
   
   <div id="home" class="intro route bg-image">
      <div class="overlay-itro"></div>
      <div class="intro-content display-table">
         <div class="table-cell">
         <div class="container">
            <h1 class="intro-title mb-4">I am Zahradeen</h1>
            <p class="intro-subtitle"><span class="text-slider-items">CEO OgaBoss,Web Developer,A Teacher</span><strong class="text-slider"></strong></p>
         </div>
         </div>
      </div>
   </div><!-- End Intro Section -->

   <main id="main">

      <!-- ======= About Section ======= -->
      <section id="about" class="about-mf sect-pt4 route">
         <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="box-shadow-full">
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                     <div class="col-sm-6 col-md-5">
                        <div class="about-img">
                           <img src="{% static 'zahradeen/assets/img/deen2.png' %}" class="img-fluid rounded b-shadow-a" alt="">
                        </div>
                     </div>
                     <div class="col-sm-6 col-md-7">
                        <div class="about-info">
                           <p><span class="title-s">Name: </span> <span>Muhammad Zahradeen</span></p>
                           <p><span class="title-s">Profile: </span> <span>Web Developer & CEO</span></p>
                           <p><span class="title-s">Email: </span> <span>tryogaboss@gmail.com</span></p>
                           <p><span class="title-s">Phone: </span> <span>(234) 706895-6005</span></p>
                        </div>
                        <div class="socials ml-4">
                           <ul class="justify-content-center">
                              <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                           </ul>
                        </div>
                     </div>
                     </div>

                     <div class="about-me">
                     <div class="title-box-2">
                        <h5 class="title-left">
                           About me
                        </h5>
                     </div>
                     <p class="lead">
                        Born as a survivor, a Developer who is always ready for new chalenges, founder and CEO of <b><em>Ogaboss</em></b> - an online
                        e-Commerce service in Nigeria, A motivator, CEO and Founder of <b><em>myBlog</em></b> and teacher as well as a student becausse I am a tireless
                        seeker of knowledge.
                     </p>
                     <p class="lead">
                        I always create balance between work and life, have developed hobbies like playing football, Badminton 
                        and exploring new places. I love smiling even in bad times because it gives me hope for better times.
                     </p>
                     <p class="lead">
                        I've gone through lots of failures but one thing I know from these experiences, is so far as there is
                        life, there's always another chance to improve/succeed. 
                     </p>
                     </div>

                     
                  </div>
                  <div class="col-md-6">
                     <div class="skill-mf">
                     <p class="title-s skill-t">Skills</p>
                     <span>HTML</span> <span class="pull-right">85%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>BOOTSTRAP</span> <span class="pull-right">90%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>CSS3</span> <span class="pull-right">75%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>DJANGO</span> <span class="pull-right">85%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>PYTHON</span> <span class="pull-right">75%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>WORDPRESS</span> <span class="pull-right">80%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>DART</span> <span class="pull-right">75%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>JAVA</span> <span class="pull-right">65%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>JAVASCRIPT</span> <span class="pull-right">80%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <span>FLUTTER</span> <span class="pull-right">70%</span>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     </div>
                  </div>
               </div>
               </div>
            </div>
         </div>
         </div>
      </section><!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <section id="service" class="services-mf pt-5 route">
         <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="title-box text-center">
               <h3 class="title-a">
                  Services
               </h3>
               <p class="subtitle-a">
                  Some of my core services that I offer
               </p>
               <div class="line-mf"></div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3">
               <div class="service-box">
                  <div class="service-ico">
                     <span class="ico-circle"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                  </div>
                  <div class="service-content">
                     <h2 class="s-title">Web Design</h2>
                     <p class="s-description text-center">
                        Almost all businesses today require a web application where the users of such can easily 
                        carry out the respective exchange of goods and services. I design responsive websites for all platforms
                        and at affordable cost.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="service-box">
                  <div class="service-ico">
                     <span class="ico-circle"><i class="fa fa-leanpub" aria-hidden="true"></i></span>
                  </div>
                  <div class="service-content">
                     <h2 class="s-title">Teacher</h2>
                     <p class="s-description text-center">
                        I teach  Html, Css, Javascript and Bootstrap (Front-end). Programming languages like Php, 
                        Python, Dart, C, Java and some selected frameworks like Django, flask as well as using Dart and
                        flutter for mobile applications.
                     </p>
                  </div>
               </div>
            </div>
            
            <div class="col-md-3">
               <div class="service-box">
                  <div class="service-ico">
                     <span class="ico-circle"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                  </div>
                  <div class="service-content">
                     <h2 class="s-title">Mobile App Design</h2>
                     <p class="s-description text-center">
                        Beautiful mobile app designs in both Android and iOS is definately an added advantage for your users.
                        I design not only responsive websites but mobile applications that correlate with the Web Applications.
                     </p>
                  </div>
               </div>
            </div>
            
            <div class="col-md-3">
               <div class="service-box">
                  <div class="service-ico">
                     <span class="ico-circle"><i class="fa fa-tasks"></i></span>
                  </div>
                  <div class="service-content">
                     <h2 class="s-title">Web Management</h2>
                     <p class="s-description text-center">
                        Having to manage your websites and running your business can be tiring.  While I manage your
                        website for you, you'll have enough time to concentrate on your customer satisfaction and 
                        business goals.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </section><!-- End Services Section -->

      <!-- ======= Counter Section ======= -->
      <div class="section-counter paralax-mf bg-image" style="background-image: url(assets/img/counters-bg.jpg)">
         <div class="overlay-mf"></div>
         <div class="container">
         <div class="row">
            <div class="col-sm-3 col-lg-3">
               <div class="counter-box counter-box pt-4 pt-md-0">
               <div class="counter-ico">
                  <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
               </div>
               <div class="counter-num">
                  <p class="counter">20</p>
                  <span class="counter-text">WORKS COMPLETED</span>
               </div>
               </div>
            </div>
            <div class="col-sm-3 col-lg-3">
               <div class="counter-box pt-4 pt-md-0">
               <div class="counter-ico">
                  <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
               </div>
               <div class="counter-num">
                  <p class="counter">3</p>
                  <span class="counter-text">YEARS OF EXPERIENCE</span>
               </div>
               </div>
            </div>
            <div class="col-sm-3 col-lg-3">
               <div class="counter-box pt-4 pt-md-0">
               <div class="counter-ico">
                  <span class="ico-circle"><i class="ion-ios-people"></i></span>
               </div>
               <div class="counter-num">
                  <p class="counter">123</p>
                  <span class="counter-text">TOTAL CLIENTS</span>
               </div>
               </div>
            </div>
            <div class="col-sm-3 col-lg-3">
               <div class="counter-box pt-4 pt-md-0">
               <div class="counter-ico">
                  <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
               </div>
               <div class="counter-num">
                  <p class="counters">24/7</p>
                  <span class="counter-text">AVAILABILITY</span>
               </div>
               </div>
            </div>
         </div>
         </div>
      </div><!-- End Counter Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="work" class="portfolio-mf sect-pt4 route">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="title-box text-center">
                  <h3 class="title-a">
                     Portfolio
                  </h3>
                  <p class="subtitle-a">
                     Some of my works are show below
                  </p>
                  <div class="line-mf"></div>
                  </div>
               </div>
            </div>
            <div class="row">
               {% for project in portfolio %}
                  <div class="col-md-4">
                     <div class="work-box">
                     <a href="{{project.image.url}}" data-gall="portfolioGallery" class="venobox">
                        <div class="work-img">
                           <img src="{{project.image.url}}" alt="" class="img-fluid">
                        </div>
                     </a>
                     <div class="work-content">
                        <div class="row">
                           <div class="col-sm-8">
                           <h2 class="w-title">{{project.name}}</h2>
                           <div class="w-more">
                              <span class="w-ctegory">{{project.category}}</span> / <span class="w-date">{{project.created}}</span>
                           </div>
                           </div>
                           <div class="col-sm-4">
                           <div class="w-like">
                              <a href="{{project.get_absolute_url}}"> <span class="ion-ios-plus-outline"></span></a>
                           </div>
                           </div>
                        </div>
                     </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </section><!-- End Portfolio Section -->

      <!-- ======= Contact Section ======= -->
      <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
         <div class="overlay-mf"></div>
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="contact-mf">
                  <div id="contact" class="box-shadow-full">
                     <div class="row">
                        <div class="col-md-6">
                        <div class="title-box-2">
                           <h5 class="title-left">
                              Send a Message
                           </h5>
                        </div>
                        <div>
                           <form action="" method="POST" role="form" class="">
                              <div class="row">
                              <div class="col-md-12 mb-3">
                                 <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                 </div>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                 </div>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validate"></div>
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validate"></div>
                                 </div>
                              </div>
                              <div class="col-md-12 text-center">
                                 <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                              </div>
                              </div>
                           </form>
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="title-box-2 pt-4 pt-md-0">
                           <h5 class="title-left">
                              Get in Touch
                           </h5>
                        </div>
                        <div class="more-info">
                           <p class="lead">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                              expedita aperiam aliquid at.
                              Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                              mollitia inventore?
                           </p>
                           <ul class="list-ico">
                              <li><span class="ion-ios-location"></span> No. 9, Kumasi Crescent, Wuse II, Abuja</li>
                              <li><span class="ion-ios-telephone"></span> (234) 706895-6005</li>
                              <li><span class="ion-email"></span> ogaboss@gmail.com</li>
                           </ul>
                        </div>
                        <div class="socials">
                           <ul>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
                           </ul>
                        </div>
                        </div>
                     </div>
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </section><!-- End Contact Section -->

   </main><!-- End #main -->

{% endblock %}
